<div id="sortAndPerPage">
  <div class="page_links">
    <%= render :partial => "paginate_compact" %>
  </div>
 <%= render :partial => 'sort_widget' %>

 <%= render :partial => 'per_page_widget' %>
 <%= button_to "Batch Edit", edit_batch_edits_path, :method=>:get, :class=>"btn submits-batches", 'data-behavior'=>'batch-edit', :id=>'batch-edit' %>
</div>
